/* Button.astro */

.button {
  @apply text-title-action h-900 px-400;

  display: inline-flex;
  text-decoration: none;
  align-items: center;
  border-radius: 1000px;
  justify-content: center;
  gap: 0.5rem;

  &.button--outline {
    @apply border-2 border-solid border-tone-neutral-07;
  }

  &.button--light {
    @apply text-tone-neutral border-tone-neutral hover:bg-tone-neutral/30 focus-visible:bg-tone-neutral/30;
  }

  &.button--hero {
    @apply text-tone-neutral border-tone-neutral hover:bg-tone-neutral-01/30 focus-visible:bg-tone-neutral-01/30;
  }
}
