/* Button.astro */

.button {
  /* Filter active state - uses data attribute instead of variant */

  &::first-letter {
    text-transform: uppercase;
  }

  &[data-filter][data-filter-active='true'] {
    @apply bg-tone-neutral-03 text-tone-neutral border-transparent duration-0;
  }

  &[data-filter][data-filter-active='false'],
  &[data-filter]:not([data-filter-active]) {
    @apply bg-tone-neutral text-tone-neutral-03 border-transparent duration-0;

    &:hover,
    &:focus-visible {
      @apply bg-tone-neutral-09;
    }
  }
}
