.header-nav {
  @apply duration-500
    ease-in-out-quart
    bottom-0
    fixed
    flex-col
    h-full
    items-start
    justify-start
    pointer-events-none
    left-0
    overflow-y-auto
    right-0
    p-600
    top-0
    w-full
    z-30
    bg-transparent
    mobile:py-0
    mobile:pr-0
    transition-cosmetic;

  &.header-nav--opened {
    @apply bg-tone-neutral-01/80
    dark:bg-tone-neutral/80
    pointer-events-auto;
  }
}

.header-nav-menu {
  @apply duration-500
  auto-rows-min
  bg-tone-neutral
  col-start-2
  ease-in-out-quart
  gap-600
  grid
  h-full
  justify-self-end
  opacity-0
  origin-right
  dark:border-50
  dark:border-solid
  dark:border-tone-neutral-08
  p-600
  rounded-2xl
  mobile:rounded-none
  transition-cosmetic
  translate-x-full
  w-full;

  &.header-nav-menu--opened {
    @apply translate-x-0
    translate-y-0
    opacity-100
    scale-100;
  }
}
