.header-nav {
  @apply duration-500
    bg-transparent
    bottom-0
    ease-in-out-quart
    fixed
    flex-col
    grid
    grid-cols-[48px_auto]
    h-full
    items-start
    justify-start
    left-0
    mobile:pr-0
    mobile:py-0
    overflow-y-auto
    p-600
    pointer-events-none
    right-0
    tablet:grid-cols-2
    text-left
    top-0
    transition-cosmetic
    w-full
    z-30;

  &.header-nav--opened {
    @apply bg-tone-neutral-01/80
    dark:bg-tone-neutral/80
    pointer-events-auto;
  }
}

.header-nav-menu {
  @apply duration-500
  auto-rows-min
  bg-tone-neutral
  col-start-2
  ease-in-out-quart
  gap-600
  grid
  h-full
  justify-self-end
  opacity-0
  origin-right
  dark:border-50
  dark:border-solid
  dark:border-tone-neutral-08
  p-600
  rounded-2xl
  mobile:rounded-none
  transition-cosmetic
  translate-x-full
  w-full;

  &.header-nav-menu--opened {
    @apply translate-x-0
    translate-y-0
    opacity-100
    scale-100;
  }
}
