.animate-alarm-border {
  animation: alarmBorder 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  transition: border-color 0.3s ease-out;
}

.highlight {
  --highlight-color: var(--status-info-04);
}
.highlight--error {
  --highlight-color: var(--status-error-04);
}

.highlight--info {
  --highlight-color: var(--status-info-04);
}

.highlight--success {
  --highlight-color: var(--status-success-04);
}

.highlight--warning {
  --highlight-color: var(--status-warning-04);
}

.highlight-content-label {
  background-color: rgb(var(--highlight-color) / 1);
}

.highlight:hover .animate-alarm-border {
  animation-play-state: running;
  transition: border-color 0.3s ease-out;
  border-color: rgb(var(--highlight-color) / 1);
}

.animate-alarm-element {
  animation: alarmElement 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes alarmBorder {
  0%,
  50%,
  100% {
    border-color: rgb(var(--highlight-color) / 0);
  }
  25% {
    border-color: rgb(var(--highlight-color) / 1);
  }
}

@keyframes alarmElement {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}
