.highlight {
  --highlight-color: var(--tone-neutral-04);
  --highlight-background-color: var(--tone-neutral-10);
}
.highlight--error {
  --highlight-color: var(--status-error-04);
  --highlight-background-color: var(--status-error-10);
}

.highlight--info {
  --highlight-color: var(--status-info-04);
  --highlight-background-color: var(--status-info-10);
}

.highlight--success {
  --highlight-color: var(--status-success-04);
  --highlight-background-color: var(--status-success-10);
}

.highlight--warning {
  --highlight-color: var(--status-warning-04);
  --highlight-background-color: var(--status-warning-10);
}

.highlight-content-label {
  background-color: rgb(var(--highlight-color) / 1);
}

.highlight-content {
  /* @apply ease-out-expo duration-500; */
  --duration: 5s;
  --ease: cubic-bezier(0.19, 1, 0.22, 1); /* ease-out-expo */
  animation: alarmElement var(--duration) var(--ease) infinite;
  border-color: rgb(var(--highlight-color) / 1);
  background-color: rgb(var(--highlight-background-color));
}

@keyframes alarmElement {
  0%,
  50%,
  100% {
    opacity: 0;
    scale: 1.015;
  }
  25% {
    opacity: 1;
    scale: 1;
  }
}
