/* Icon.astro */
/* this is a workaround until I'll fix this weird iconsauce issue */
.iconsauce-icon {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}

.iconsauce-icon span {
  font-size: 64px;
  line-height: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
