.markdown a {
  @apply markdown-link;
}

.markdown hr {
  @apply border-0 w-full flex h-50 bg-tone-neutral-08;
}

.markdown p {
  @apply text-tone-neutral-03;
}

.markdown p b,
.markdown p strong {
  @apply text-tone-neutral-01;
}
