body {
  --fader-duration: 0.25s;
  --fader-delay: 0.25s;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background-color: rgb(var(--tone-neutral));
  z-index: 1000;
  pointer-events: none;
  animation: fadeIn var(--fader-duration) ease-out forwards var(--fader-delay);
}

body.fade-out::before {
  pointer-events: auto;
  animation: fadeOut var(--fader-duration) ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
