@layer components {
  .nav-outline {
    @apply shadow-[0_0_0_2px_rgb(var(--tone-neutral-01)_/_0.05)] dark:shadow-[0_0_0_2px_rgb(var(--tone-neutral-01)_/_0.2)];
  }

  .nav-outline-strong {
    @apply shadow-[0_0_0_2px_rgb(var(--tone-neutral-01)_/_0.1)] dark:shadow-[0_0_0_2px_rgb(var(--tone-neutral-01)_/_0.3)];
  }

  .nav-outline-stronger {
    @apply shadow-[0_0_0_2px_rgb(var(--tone-neutral-01)_/_0.2)] dark:shadow-[0_0_0_2px_rgb(var(--tone-neutral-01)_/_0.6)];
  }
}
