.use-case:not(:first-child) {
  &::before {
    @apply mb-1600 mobile:mb-600 tablet:mb-800;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(var(--tone-neutral-07));
  }
}

.use-case-interactive-content {
  transition-behavior: allow-discrete;
  transition: height 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: center center;

  @starting-style {
    opacity: 0;
    transform: scale(0.9);
  }
}

:root {
  --use-case-interactive-animation-duration: 0.325s;
  --use-case-interactive-animation-easing: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --use-case-interactive-animation-scale: scale(0.9);
}

.use-case-from-left-animation {
  /* @apply ease-out-back; */
  animation: use-case-from-left var(--use-case-interactive-animation-duration)
    var(--use-case-interactive-animation-easing);
}

.use-case-from-right-animation {
  animation: use-case-from-right var(--use-case-interactive-animation-duration)
    var(--use-case-interactive-animation-easing);
}

@keyframes use-case-from-left {
  from {
    opacity: 0.5;
    transform: translateX(-24px) var(--use-case-interactive-animation-scale);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes use-case-from-right {
  from {
    opacity: 0.5;
    transform: translateX(24px) var(--use-case-interactive-animation-scale);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
