.use-case {
  @apply mobile:scroll-mt-1200 scroll-mt-1400;
}

.use-case:first-of-type {
  @apply mobile:scroll-mt-2400 scroll-mt-2400;
}

.use-case:not(:first-of-type) {
  &::before {
    @apply mb-1600 mobile:mb-600 tablet:mb-800;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(var(--tone-neutral-07));
  }
}

.use-case-interactive-content {
  transition-behavior: allow-discrete;
  transition: height 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: center center;

  @starting-style {
    opacity: 0;
    transform: scale(0.9);
  }
}

.use-case-interactive mds-table-cell > * {
  white-space: nowrap;
}

:root {
  --use-case-interactive-animation-duration: 0.325s;
  --use-case-interactive-animation-easing: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --use-case-interactive-animation-scale: scale(0.9);
}

.use-case-from-left-animation {
  /* @apply ease-out-back; */
  animation: use-case-from-left var(--use-case-interactive-animation-duration)
    var(--use-case-interactive-animation-easing);
}

.use-case-from-right-animation {
  animation: use-case-from-right var(--use-case-interactive-animation-duration)
    var(--use-case-interactive-animation-easing);
}

@keyframes use-case-from-left {
  from {
    opacity: 0.5;
    transform: translateX(-24px) var(--use-case-interactive-animation-scale);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes use-case-from-right {
  from {
    opacity: 0.5;
    transform: translateX(24px) var(--use-case-interactive-animation-scale);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.use-case mds-modal {
  @apply rounded-[28px] overflow-hidden py-400;
  --mds-modal-window-distance: 1rem;
}

.use-case mds-modal::part(window) {
  @apply rounded-2xl p-0 box-border;
}

.use-case mds-modal > * {
  @apply p-600 box-border;
}
