---
import UseCase from '../../../UseCase.astro';
import UseCaseInteractive from '../../../UseCaseInteractive.astro';
---

<UseCase
  title="Behavioral Consistency"
  description="Similar actions produce similar outcomes, regardless of where they occur in the interface."
>
  <UseCaseInteractive clsHeight={120} multiple>
    <div class="p-600 bg-label-amaranth-10">Example 01</div>
    <div class="p-600 bg-label-green-10 hidden">Example 02</div>
    <div class="p-600 bg-label-violet-10 hidden">Example 03</div>
  </UseCaseInteractive>
</UseCase>
