---
import Usage from '../../../Usage.astro';
import UsageItem from '../../../UsageItem.astro';
import UseCase from '../../../UseCase.astro';
import UseCaseInteractive from '../../../UseCaseInteractive.astro';
---

<UseCase
  title="Pattern Reuse"
  description="Established solutions are reused instead of reinvented, strengthening familiarity and efficiency."
>
  <UseCaseInteractive clsHeight={112} label="Some reusable web components">
    <div class="grid gap-400">
      <mds-text typography="caption" class="max-w-title"
        >This text is a reusable web component, also the button below is a reusable web component.</mds-text
      >
      <mds-button id="pattern-reuse-button">Click me</mds-button>
      <mds-dropdown target="#pattern-reuse-button" placement="top" class="max-w-8000 p-400">
        <mds-text typography="caption"
          >And this is a dropdown, also a reusable web component.</mds-text
        >
      </mds-dropdown>
    </div>
  </UseCaseInteractive>
  <Usage>
    <UsageItem variant="do">Reuse proven UI patterns</UsageItem>
    <UsageItem variant="dont">Design new components for already-solved problems</UsageItem>
    <UsageItem variant="do">Maintain a shared component library</UsageItem>
    <UsageItem variant="dont">Fork components without clear necessity</UsageItem>
    <UsageItem variant="do">Optimize patterns through iteration</UsageItem>
    <UsageItem variant="dont">Reset design decisions with each feature</UsageItem>
  </Usage>
</UseCase>
