---
import Usage from '../../../Usage.astro';
import UsageItem from '../../../UsageItem.astro';
import UseCase from '../../../UseCase.astro';
import UseCaseInteractive from '../../../UseCaseInteractive.astro';
import CreditCard from '../../CreditCard.astro';
---

<UseCase
  title="Domain-Aligned Concepts"
  description="The system reflects the user's mental model of the domain, not the internal system model."
>
  <UseCaseInteractive clsHeight={461} toggle>
    <div class="w-full max-w-8000 grid gap-600">
      <mds-text typography="h3">Wallet</mds-text>
      <mds-text typography="h5">Credit Cards</mds-text>
      <div class="grid gap-200 auto-rows-min bg-tone-slate-09 p-200 rounded-3xl">
        <CreditCard
          cardNumber="4875 5478 4474 4485"
          icon="mi/outline/pets"
          name="MonsterCard"
          backgroundColor="bg-label-orange-05"
        />
        <CreditCard
          cardNumber="4875 5478 4474 4485"
          name="GRANA"
          icon="mi/outline/toll"
          backgroundColor="bg-label-green-05"
        />
        <CreditCard
          cardNumber="4875 5478 4474 4485"
          name="European Express"
          icon="mi/outline/euro"
          backgroundColor="bg-label-sky-05"
        />
      </div>
      <mds-button>Send money</mds-button>
    </div>
    <div class="w-full max-w-9600 grid gap-600">
      <mds-text typography="h3">Money Assets</mds-text>
      <mds-text typography="h5">Payment Resources</mds-text>
      <mds-table>
        <mds-table-header>
          <mds-table-header-cell label="Credit Card"></mds-table-header-cell>
          <mds-table-header-cell label="Code"></mds-table-header-cell>
        </mds-table-header>
        <mds-table-body>
          <mds-table-row>
            <mds-table-cell
              ><mds-text class="whitespace-nowrap">MonsterCard</mds-text></mds-table-cell
            >
            <mds-table-cell
              ><mds-text class="whitespace-nowrap">2544 4573 6422 1185</mds-text></mds-table-cell
            >
          </mds-table-row>
        </mds-table-body>
        <mds-table-body>
          <mds-table-row>
            <mds-table-cell><mds-text class="whitespace-nowrap">GRANA</mds-text></mds-table-cell>
            <mds-table-cell
              ><mds-text class="whitespace-nowrap">3365 9911 6571 2398</mds-text></mds-table-cell
            >
          </mds-table-row>
        </mds-table-body>
        <mds-table-body>
          <mds-table-row>
            <mds-table-cell
              ><mds-text class="whitespace-nowrap">European Express</mds-text></mds-table-cell
            >
            <mds-table-cell
              ><mds-text class="whitespace-nowrap">4875 5478 4474 4485</mds-text></mds-table-cell
            >
          </mds-table-row>
        </mds-table-body>
      </mds-table>
      <mds-button>Start payment pipeline</mds-button>
    </div>
  </UseCaseInteractive>
  <Usage>
    <UsageItem variant="do">Model features around real-world domain concepts</UsageItem>
    <UsageItem variant="dont">Expose internal system structures to users</UsageItem>
    <UsageItem variant="do">Use entities users already recognize</UsageItem>
    <UsageItem variant="dont">Force users to adapt to technical abstractions</UsageItem>
    <UsageItem variant="do">Align workflows with real-world processes</UsageItem>
    <UsageItem variant="dont">Design flows based only on backend logic</UsageItem>
  </Usage>
</UseCase>
