---
import UseCase from '../../../UseCase.astro';
import UseCaseInteractive from '../../../UseCaseInteractive.astro';
---

<UseCase
  title="Logical Information Order"
  description="Information is presented in a sequence that feels natural and expected."
>
  <UseCaseInteractive clsHeight={0}>
    <div class="grid gap-600 grid-cols-fit-md w-full">
      <mds-usage variant="do">
        <mds-text typography="h6">John Doe</mds-text>
        <mds-text typography="h6">1234 Elm Street, Apt 5B</mds-text>
        <mds-text typography="h6">Springfield, IL 62704</mds-text>
        <mds-text typography="h6">United States</mds-text>
        <mds-text typography="h6">Phone: +1 217-555-0198</mds-text>
      </mds-usage>
      <mds-usage variant="dont">
        <mds-text typography="h6">1234 Elm Street, Apt 5B</mds-text>
        <mds-text typography="h6">John Doe</mds-text>
        <mds-text typography="h6">Phone: +1 217-555-0198</mds-text>
        <mds-text typography="h6">Springfield, IL 62704</mds-text>
        <mds-text typography="h6">United States</mds-text>
      </mds-usage>
    </div>
  </UseCaseInteractive>
</UseCase>
