---
import UseCase from '../../../UseCase.astro';
import UseCaseInteractive from '../../../UseCaseInteractive.astro';
import Usage from '../../../Usage.astro';
import UsageItem from '../../../UsageItem.astro';
---

<UseCase
  title="Explicit Overrides and Manual Corrections"
  description="Make it easy for users to override AI suggestions and make manual corrections at any point."
>
  <UseCaseInteractive clsHeight={950} label="Override and corrections" toggle>
    <div class="grid gap-600 w-full">
      <div class="grid gap-200">
        <mds-text typography="h6">Mortgage credit scoring</mds-text>
        <mds-text typography="caption">
          AI-based credit scoring system to assess mortgage applications, as advisor you can
          override the AI decision by adding additional reasons.
        </mds-text>
      </div>

      <div class="grid gap-200 p-600 rounded-lg bg-tone-neutral shadow-sm-sharp">
        <div class="grid gap-400 tablet:grid-cols-2">
          <div class="grid gap-400 grid-cols-full auto-rows-min">
            <mds-text typography="label">Applicant data</mds-text>
            <div class="flex items-center gap-400">
              <mds-avatar class="size-1200"></mds-avatar>
              <div class="grid grid-cols-full">
                <mds-text typography="caption">Jhon Doe</mds-text>
                <mds-text typography="caption">Client id: A4RD79003</mds-text>
              </div>
            </div>
            <div class="grid grid-cols-full">
              <mds-text typography="caption">Contract: permanent</mds-text>
              <mds-text typography="caption">Annual income: €38,000</mds-text>
              <mds-text typography="caption">Amount requested: €140,000</mds-text>
              <mds-text typography="caption">Credit history: one late payment 4 years ago</mds-text>
            </div>
          </div>

          <div class="grid gap-400 p-400 rounded-lg bg-status-error-10 auto-rows-min">
            <mds-text typography="label">AI output</mds-text>
            <mds-badge variant="error" tone="strong" class="justify-self-start">Rejected</mds-badge>
            <div class="grid grid-cols-full">
              <mds-text typography="caption"><b>Estimated risk 18%.</b></mds-text>
              <mds-text typography="caption">Exceeds internal approval by 4%.</mds-text>
            </div>
            <div class="grid grid-cols-full">
              <mds-text typography="caption"><b>Reasons detected:</b></mds-text>
              <mds-text typography="caption">One late payment 4 years ago</mds-text>
            </div>
            <mds-button variant="error" tone="strong" class="justify-self-start"
              >Confirm rejection</mds-button
            >
          </div>
        </div>

        <div class="grid gap-400 auto-rows-min">
          <div class="grid gap-0 grid-cols-full">
            <mds-text typography="h6">Advisor panel</mds-text>
            <mds-text typography="caption"
              >Advisor has the ability to add additional reasons and conditions to change the AI
              decision.</mds-text
            >
          </div>
          <div class="grid gap-400 p-400 rounded-lg bg-tone-neutral-10 grid-cols-full">
            <mds-text typography="caption"><b>Additional notes</b></mds-text>
            <mds-input type="text" placeholder="Es: The client has unencumbered property assets."
            ></mds-input>
            <div class="grid gap-200">
              <mds-chip
                class="min-w-0"
                deletable
                label="The late payment was linked to a banking dispute that was resolved in the client’s favour."
              ></mds-chip>
              <mds-chip
                class="min-w-0"
                deletable
                label="The client has unencumbered property assets."></mds-chip>
              <mds-chip class="min-w-0" deletable label="No defaults in the last 36 months."
              ></mds-chip>
            </div>
          </div>
          <div class="grid gap-400 p-400 rounded-lg bg-tone-neutral-10 grid-cols-full">
            <mds-text typography="caption"><b>Add conditions</b></mds-text>
            <mds-input type="text" placeholder="Es: Additional guarantee required"></mds-input>
            <mds-chip class="min-w-0" deletable label="Additional guarantee required"></mds-chip>
          </div>
          <mds-button variant="success" tone="strong" class="justify-self-start">Approve</mds-button
          >
        </div>
      </div>
    </div>
  </UseCaseInteractive>
  <Usage>
    <UsageItem variant="do">
      Make all AI suggestions and outputs editable or overrideable.
    </UsageItem>
    <UsageItem variant="dont">
      Lock AI outputs or make them difficult to modify or override.
    </UsageItem>
    <UsageItem variant="do">
      Provide clear, accessible options to edit manually or ignore suggestions.
    </UsageItem>
    <UsageItem variant="dont">
      Hide override options or make manual control secondary or hard to find.
    </UsageItem>
  </Usage>
</UseCase>
