---
import Usage from '../../../Usage.astro';
import UsageItem from '../../../UsageItem.astro';
import UseCase from '../../../UseCase.astro';
import UseCaseInteractive from '../../../UseCaseInteractive.astro';
---

<UseCase
  title="Navigation and Flows"
  description="The interface clearly communicates the current position and progress within a path, preventing disorientation and abandonment."
>
  <UseCaseInteractive clsHeight={131}>
    <mds-tab>
      <mds-tab-item selected>First tab</mds-tab-item>
      <mds-tab-item>Second tab</mds-tab-item>
      <mds-tab-item>Third tab</mds-tab-item>
      <div
        slot="content"
        class="bg-label-amaranth-10 border-solid border-1 border-label-amaranth-09 p-600 text-center rounded-2xl mt-100"
      >
        <mds-text>Contents for the first tab</mds-text>
      </div>
      <div
        slot="content"
        class="bg-label-blue-10 border-solid border-1 border-label-blue-09 p-600 text-center rounded-2xl mt-100"
      >
        <mds-text>Contents for the second tab</mds-text>
      </div>
      <div
        slot="content"
        class="bg-label-orange-10 border-solid border-1 border-label-orange-09 p-600 text-center rounded-2xl mt-100"
      >
        <mds-text>Contents for the third tab</mds-text>
      </div>
    </mds-tab>
  </UseCaseInteractive>
  <Usage>
    <UsageItem variant="do">Always show where the user is within a flow</UsageItem>
    <UsageItem variant="dont">Force users to remember previous steps</UsageItem>
    <UsageItem variant="do">Indicate remaining steps or progress</UsageItem>
    <UsageItem variant="dont">Hide progress in long or complex flows</UsageItem>
    <UsageItem variant="do">Keep navigation status consistent across screens</UsageItem>
    <UsageItem variant="dont">Change navigation patterns unexpectedly</UsageItem>
  </Usage>
</UseCase>
