---
import Brand from '../../../Brand.astro';
import ProductCategory from '../../../ProductCategory.astro';
import Products from '../../../Products.astro';
import Separator from '../../../Separator.astro';
import Usage from '../../../Usage.astro';
import UsageItem from '../../../UsageItem.astro';
import UseCase from '../../../UseCase.astro';
import UseCaseInteractive from '../../../UseCaseInteractive.astro';
---

<UseCase
  title="Encode design decisions, not screenshots"
  description="Implementation should express intent, not static visuals."
>
  <UseCaseInteractive
    clsHeight={320}
    label="Interactive documentation"
    size="sm"
    contentClass="justify-center items-center"
    padding={false}
  >
    <div
      class="grid min-h-8000 grid-cols-[180px_1fr] mobile:grid-cols-full w-full"
      data-feedback-container
    >
      <div
        class="bg-label-sky-10 border-r border-label-sky-09 border-0 border-solid p-600 gap-600 grid auto-rows-min mobile:hidden"
      >
        <Brand name="storybook" />
        <div class="grid gap-100">
          <div class="px-400 py-100"><mds-text typography="caption"><b>Banner</b></mds-text></div>
          <div class="px-400 py-100 rounded-md bg-label-sky-04 text-tone-neutral-10">
            <mds-text typography="caption"><b>Button</b></mds-text>
          </div>
          <div class="px-400 py-100"><mds-text typography="caption"><b>Modal</b></mds-text></div>
          <div class="px-400 py-100"><mds-text typography="caption"><b>Table</b></mds-text></div>
        </div>
      </div>
      <div
        class="p-600 flex items-start justify-start mobile:justify-center mobile:col-span-2 w-full"
      >
        <mds-button class="shrink-0" variant="primary" tone="strong" icon="mi/baseline/check-circle"
          >Button component</mds-button
        >
      </div>
    </div>
  </UseCaseInteractive>
</UseCase>

<Usage>
  <UsageItem variant="do">Implement components based on rules and constraints.</UsageItem>
  <UsageItem variant="dont">
    Recreate pixel-perfect snapshots without understanding behavior.
  </UsageItem>
  <UsageItem variant="do">Document states, interactions, and edge cases.</UsageItem>
  <UsageItem variant="dont">Rely solely on static mockups for behavior.</UsageItem>
</Usage>

<Products>
  <ProductCategory title="Interactive documentation">
    <Brand name="storybook" label="Storybook" url="https://storybook.js.org" />
  </ProductCategory>
  <ProductCategory title="Addons">
    <Brand
      name="storybook"
      label="Tag Badges"
      url="https://storybook.js.org/addons/storybook-addon-tag-badges"
    />
    <Brand
      name="storybook"
      label="Figma Designs"
      url="https://storybook.js.org/addons/@storybook/addon-designs"
    />
    <Brand
      name="storybook"
      label="Regression testing"
      url="https://storybook.js.org/addons/chromatic"
    />
    <Brand
      name="storybook"
      label="Accessibility"
      url="https://storybook.js.org/addons/@storybook/addon-a11y"
    />
  </ProductCategory>
</Products>

<Separator />
