---
import Usage from '../../../Usage.astro';
import UsageItem from '../../../UsageItem.astro';
import UseCase from '../../../UseCase.astro';
import UseCaseInteractive from '../../../UseCaseInteractive.astro';
import PasswordStrength from '../../PasswordStrength.astro';
---

<UseCase
  title="Forgiving Interaction"
  description="The interface tolerates imperfect actions and helps users recover gracefully."
>
  <UseCaseInteractive
    clsHeight={0}
    articleId="forgiving-interaction"
    label="Italian Fiscal Code validation"
    bugExpected="Should validates the string once the user blurs the input."
    bugCurrent="Validation starts after the first character is typed; then, after the first blur, it works as expected."
    bugComponent="mds-input-field"
  >
    <div class="grid gap-600 w-full max-w-8000">
      <mds-input-field label="Fiscal Code">
        <mds-input type="cf" required placeholder="Ex: RSSMRA85C10F205Z"></mds-input>
      </mds-input-field>
    </div>
  </UseCaseInteractive>

  <Usage>
    <UsageItem variant="do">Help users recover from mistakes</UsageItem>
    <UsageItem variant="dont">Penalize minor errors</UsageItem>
    <UsageItem variant="do">Use warnings before blocking actions</UsageItem>
    <UsageItem variant="dont">Block users prematurely</UsageItem>
    <UsageItem variant="do">Design explicitly for recovery paths</UsageItem>
    <UsageItem variant="dont">Assume perfect user behavior</UsageItem>
  </Usage>
</UseCase>
