@charset "UTF-8";

@import '@maggioli-design-system/styles/dist/css/hydrated.css';
@import '@maggioli-design-system/styles/dist/css/reset.css';
@import '@maggioli-design-system/styles/dist/css/globals.css';
@import '@maggioli-design-system/styles/dist/css/animations.css';
@import '@maggioli-design-system/styles/dist/tailwind/components.css';
@import '@maggioli-design-system/styles/dist/tailwind/typography.css';
@import '@maggioli-design-system/styles/dist/css/colors-rgb.css';
@import '@maggioli-design-system/styles/dist/css/base.css';
@import './iconsauce.css';
@import './components/Button.css';
@import './components/CodeSnippet.css';
@import './components/Header.css';
@import './components/Usage.css';
@import './components/Nav.css';
@import './components/UseCaseInteractive.css';
@import './components/Markdown.css';
@import './components/Bibliography.css';
@import './components/PrincipleNav.css';

.text-title-h1,
.text-title-h2,
.text-title-h3,
.text-title-h4,
.text-title-h5,
.text-title-h6,
.text-info-paragraph,
.text-info-detail,
.text-info-caption,
.text-info-label,
.text-info-option,
.text-info-tip,
body,
html,
mds-text {
  scroll-behavior: smooth;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif,
    Helvetica,
    sans-serif;
}

.vittori-o {
  font-size: clamp(4rem, 10vw, 6rem);
  line-height: 1;
  min-height: auto;
}

.text-shadow {
  & h2,
  h3,
  p {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }
}

mds-dropdown mds-button::part(label) {
  flex-grow: 1;
}

mds-badge[tone='ghost'][variant='dark'] {
  background-color: rgb(var(--tone-neutral));
  border-color: rgb(var(--tone-neutral-07));
}

mds-input-switch[data-toggle-switch] {
  --mds-input-switch-box-color-enabled-checked: rgb(var(--tone-neutral-04));
  --mds-input-switch-icon-color-checked: rgb(var(--status-success-05));
  --mds-input-switch-icon-color-unchecked: rgb(var(--status-error-05));
}

mds-button,
mds-push-notification-item[data-avatar]::part(picture) {
  border-radius: 1000px;
}

mds-button[variant='dark'][tone='quiet'] {
  &:hover,
  &:focus-visible {
    background-color: rgb(var(--tone-neutral-09));
  }
}

mds-button[variant='primary'][tone='quiet'] {
  &:hover,
  &:focus-visible {
    background-color: rgb(var(--variant-primary-09));
  }
}

mds-button[variant='ai'][tone='quiet'] {
  &:hover,
  &:focus-visible {
    background-color: rgb(var(--variant-ai-09));
  }
}

mds-button[variant='error'][tone='quiet'] {
  &:hover,
  &:focus-visible {
    background-color: rgb(var(--status-error-09));
  }
}

mds-button {
  --mds-button-border-default-opacity: 0.2;
}

mds-button[variant='success'][tone='quiet'] {
  &:hover,
  &:focus-visible {
    background-color: rgb(var(--status-success-09));
  }
}

mds-button[variant='info'][tone='quiet'] {
  &:hover,
  &:focus-visible {
    background-color: rgb(var(--status-info-09));
  }
}

mds-button[variant='warning'][tone='quiet'] {
  &:hover,
  &:focus-visible {
    background-color: rgb(var(--status-warning-09));
  }
}

mds-usage {
  min-height: 92px;
  /* justify-content: center; */
  align-items: center;
  /* text-align: center; */
  grid-template-rows: auto 1fr;
}

mds-usate {
  text-wrap: pretty;
}

mds-img::part(media) {
  width: 100%;
  height: 100%;
}

@layer components {
  .markdown-link {
    @apply decoration-tone-neutral-07
    decoration-2
    focus-bounce
    rounded-md
    hover:decoration-tone-neutral-03
    focus-visible:decoration-tone-neutral-03
    transition-[text-decoration-color]
    duration-200
    underline-offset-2;
  }
}

mds-table-cell {
  vertical-align: middle;
}

/* Disable transitions on initial load to avoid flash when preferences are applied */
html.prevent-animation *,
html.prevent-animation *::before,
html.prevent-animation *::after {
  transition-duration: 0s !important;
}
