@import "@maggioli-design-system/styles/dist/css/hydrated.css";
@import "@maggioli-design-system/styles/dist/css/reset.css";
@import "@maggioli-design-system/styles/dist/css/globals.css";
@import "@maggioli-design-system/styles/dist/css/animations.css";
@import "@maggioli-design-system/styles/dist/tailwind/components.css";
@import "@maggioli-design-system/styles/dist/tailwind/typography.css";
@import "@maggioli-design-system/styles/dist/css/colors-rgb.css";
@import "@maggioli-design-system/styles/dist/css/base.css";

:root {
  --variant-primary: var(--variant-primary-01);
  --variant-user-centered-design: var(--label-amaranth-06);
  --variant-design-systems: var(--label-green-06);
  --variant-hax-principles: var(--label-violet-06);
}

mds-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
}

.vittori-o {
  font-size: clamp(4rem, 10vw, 6rem);
  line-height: 1;
  min-height: auto;
}
