@import "@maggioli-design-system/styles/dist/css/hydrated.css";
@import "@maggioli-design-system/styles/dist/css/reset.css";
@import "@maggioli-design-system/styles/dist/css/globals.css";
@import "@maggioli-design-system/styles/dist/css/colors-rgb.css";
@import "@maggioli-design-system/styles/dist/css/base.css";
@import "@maggioli-design-system/styles/dist/css/animations.css";
@import "@maggioli-design-system/styles/dist/tailwind/components.css";
@import "@maggioli-design-system/styles/dist/tailwind/typography.css";

