@import '@maggioli-design-system/styles/dist/css/hydrated.css';
@import '@maggioli-design-system/styles/dist/css/reset.css';
@import '@maggioli-design-system/styles/dist/css/globals.css';
@import '@maggioli-design-system/styles/dist/css/animations.css';
@import '@maggioli-design-system/styles/dist/tailwind/components.css';
@import '@maggioli-design-system/styles/dist/tailwind/typography.css';
@import '@maggioli-design-system/styles/dist/css/colors-rgb.css';
@import '@maggioli-design-system/styles/dist/css/base.css';
@import './iconsauce.css';
@import './components/Button.css';

body,
html {
  scroll-behavior: smooth;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif,
    Helvetica,
    sans-serif;
}

.vittori-o {
  font-size: clamp(4rem, 10vw, 6rem);
  line-height: 1;
  min-height: auto;
}

.text-shadow {
  & h2,
  h3,
  p {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }
}

/* .priciple-card {
  container-name: principle-card;
  container-type: inline-size;
}

@container (min-width: 1024px) {
  .principle-card-title {
    font-size: clamp(1rem, 1.8cqw, 2rem);
    line-height: 1.2;
  }
} */
