---
import UseCase from '../../../UseCase.astro';
import UseCaseInteractive from '../../../UseCaseInteractive.astro';
import Usage from '../../../Usage.astro';
import UsageItem from '../../../UsageItem.astro';
import AIBalloon from '../../AIBalloon.astro';
import AIBalloonMessage from '../../AIBalloonMessage.astro';
import AIResponseMessage from '../../AIResponseMessage.astro';
import AIResponseFollowUpAction from '../../AIResponseFollowUpAction.astro';
import Markdown from '../../../Markdown.astro';
import AIResponseFollowUp from '../../AIResponseFollowUp.astro';
import HighlightBox from '../../HighlightBox.astro';
---

<UseCase
  title="Progressive Disclosure Based on Expertise"
  description="Show simple, essential options first; reveal advanced or detailed options when users need them or indicate expertise."
>
  <UseCaseInteractive
    clsHeight={384}
    label="Progressive disclosure"
    toggle
    articleId="progressive-disclosure-based-on-expertise"
  >
    <div class="grid gap-600 w-full max-w-9600">
      <AIBalloon>
        <AIBalloonMessage>How can I start feeding birds in my garden?</AIBalloonMessage>
      </AIBalloon>
      <AIResponseMessage>
        <Markdown
          typography="detail"
          content={`
To start feeding your baby birds, just follow a few simple steps:

1. **Choose a basic feed:** Use sunflower
2. **Position the feeder:** Hang it in a sheltered
3. **Clean regularly:** Remove old or wet seeds to prevent mold.
        `}
        />
        <HighlightBox label="progressive disclosure" class="relative grid gap-600">
          <mds-text
            >Want to know which birds you can attract or how to protect your food from rain?</mds-text
          >
          <AIResponseFollowUp>
            <AIResponseFollowUpAction>
              Find out which birds you might attract
            </AIResponseFollowUpAction>
            <AIResponseFollowUpAction>
              Watch a video on how to hang the feeder
            </AIResponseFollowUpAction>
            <AIResponseFollowUpAction>Buy recommended seeds</AIResponseFollowUpAction>
          </AIResponseFollowUp>
        </HighlightBox>
      </AIResponseMessage>
    </div>
    <div class="grid gap-600 w-full max-w-9600">
      <AIBalloon>
        <AIBalloonMessage>How can I start feeding birds in my garden?</AIBalloonMessage>
      </AIBalloon>
      <AIResponseMessage>
        <Markdown
          typography="detail"
          content={`
To start feeding your baby birds, just follow a few simple steps:

1. **Choose a basic feed:** Use sunflower
2. **Position the feeder:** Hang it in a sheltered
3. **Clean regularly:** Remove old or wet seeds to prevent mold.
        `}
        />
        <!-- <AIResponseFollowUp>
          <AIResponseFollowUpAction>
            Find out which birds you might attract
          </AIResponseFollowUpAction>
          <AIResponseFollowUpAction>
            Watch a video on how to hang the feeder
          </AIResponseFollowUpAction>
          <AIResponseFollowUpAction>Buy recommended seeds</AIResponseFollowUpAction>
        </AIResponseFollowUp> -->
      </AIResponseMessage>
    </div>
  </UseCaseInteractive>
  <Usage>
    <UsageItem variant="do">
      Start with simple, essential controls; reveal advanced options on demand or via settings.
    </UsageItem>
    <UsageItem variant="dont">
      Show every option and control at once regardless of user expertise or task.
    </UsageItem>
    <UsageItem variant="do">
      Let users opt into "advanced" or "expert" mode if they want more visible controls.
    </UsageItem>
    <UsageItem variant="dont">
      Hide options that are essential for basic tasks; only defer advanced or rarely used ones.
    </UsageItem>
  </Usage>
</UseCase>
