---
import UseCase from '../../../UseCase.astro';
import UseCaseInteractive from '../../../UseCaseInteractive.astro';
import Usage from '../../../Usage.astro';
import UsageItem from '../../../UsageItem.astro';
import Markdown from '../../../Markdown.astro';
import AIBalloon from '../../AIBalloon.astro';
import AIBalloonMessage from '../../AIBalloonMessage.astro';
import AIResponseMessage from '../../AIResponseMessage.astro';
import HighlightBox from '../../HighlightBox.astro';
---

<UseCase
  title="Explicit User Choice and Consent"
  description="Users should explicitly choose when AI takes actions, especially for important or irreversible decisions."
>
  <UseCaseInteractive clsHeight={112} label="Explicit consent" toggle>
    <div class="grid gap-600 w-full max-w-9600">
      <AIBalloon>
        <AIBalloonMessage>
          I would like to build a custom cabinet for a corner of my garage
        </AIBalloonMessage>
      </AIBalloon>
      <AIResponseMessage>
        <HighlightBox label="Keep choice control" variant="success" class="relative grid gap-600">
          <Markdown
            typography="detail"
            content={`
I can help you in two ways:

- If you upload a photo of the space, I can better adjust the measurements and structure.
- I can save this project so you can return to it later.

Both options are optional.

Would you like to upload a photo or would you prefer to continue with just the measurements you described?
        `}
          />
        </HighlightBox>
      </AIResponseMessage>
    </div>
    <div class="grid gap-600 w-full max-w-9600">
      <AIBalloon>
        <AIBalloonMessage>
          I would like to build a custom cabinet for a corner of my garage
        </AIBalloonMessage>
      </AIBalloon>
      <AIResponseMessage>
        <HighlightBox label="lack of consent" variant="error" class="relative grid gap-600">
          <Markdown
            typography="detail"
            content={`
Upload a photo of the space so I can analyze it better.

I'll save the project for future use.
        `}
          />
        </HighlightBox>
      </AIResponseMessage>
    </div>
  </UseCaseInteractive>
  <Usage>
    <UsageItem variant="do">
      Require explicit user consent before AI takes actions, especially for important or
      irreversible decisions.
    </UsageItem>
    <UsageItem variant="dont">
      Allow AI to automatically perform actions without user approval.
    </UsageItem>
    <UsageItem variant="do">
      Make it clear what action the AI wants to take and why before asking for consent.
    </UsageItem>
    <UsageItem variant="dont">
      Hide AI actions or make them difficult to prevent or cancel.
    </UsageItem>
  </Usage>
</UseCase>
