---
import Markdown from './Markdown.astro';
import Separator from './Separator.astro';

interface Props {
  opener?: string;
  closer?: string;
}

const { opener, closer } = Astro.props;
---

<section class="grid gap-600 read-size" id="related-references-and-bibliography">
  <Separator />
  <div class="grid grid-cols-full gap-100">
    <mds-text typography="h3">Related references and bibliography</mds-text>
    <mds-badge class="justify-self-start select-none" variant="warning" tone="weak"
      >potentially outdated</mds-badge
    >
  </div>
  {opener && <p class="text-info-paragraph">{opener}</p>}
  <div class="bibliographies grid gap-1200">
    <slot />
  </div>
  {closer && <p class="text-info-paragraph">{closer}</p>}
</section>
