---
import Markdown from './Markdown.astro';

interface Props {
  opener?: string;
  closer?: string;
}

const { opener, closer } = Astro.props;
---

<section class="grid gap-600">
  <Markdown
    content={`
  ### Related References and Bibliography

  ---
  `}
  />
  {opener && <p class="text-info-paragraph">{opener}</p>}
  <div class="bibliographies grid gap-1200">
    <slot />
  </div>
  {closer && <p class="text-info-paragraph">{closer}</p>}
</section>
