---
interface Props {
  type: 'book' | 'url' | 'video';
  class?: string;
}

const { type, class: className = '' } = Astro.props;
---

<div class={`grid gap-600 bibliography-section ${className}`}>
  <div class="text-title-h4">
    {type === 'book' && 'Books'}
    {type === 'url' && 'Articles & Online Resources'}
    {type === 'video' && 'Videos'}
  </div>
  <div class="grid gap-1200">
    <slot />
  </div>
</div>
