---
import Button from './Button.astro';
import Icon from './Icon.astro';
import HeaderMenu from './HeaderMenu.astro';
import personalData from '../data/personal.json';

interface Props {
  items?: Array<{
    href: string;
    label: string;
    icon: string;
    button: string;
    current: number;
    headerSelected?: string;
  }>;
  menu?: boolean;
}

const baseUrl = import.meta.env.BASE_URL;
const { menu = true } = Astro.props;
---

<div>
  <header class="flex items-center gap-400 justify-between group">
    <div class="inline-flex items-center gap-400 pb-600">
      <a
        title="Back to Home"
        href={baseUrl}
        class="inline-flex focus-bounce rounded-full shrink-0 hover:rotate-[60deg] hover:translate-y-[8px] focus-visible:rotate-[60deg] focus-visible:translate-y-[8px] ease-out-expo transition-transform duration-500 no-underline"
      >
        <Icon name="vv/logo" class="text-[64px] justify-self-center" />
      </a>
      <div class="grid mobile:hidden">
        <h1 class="text-title-h3">
          Vittori<span class="inline-block animate-pulse-more"
            >o <span
              class="group-hover:opacity-100 group-focus-visible:opacity-100 opacity-0 duration-1000 transition-opacity"
              >Vittori</span
            ></span
          >
        </h1>
        <p class="text-info-caption">{personalData.role}</p>
      </div>
    </div>
    {
      menu ? (
        <HeaderMenu />
      ) : (
        <Button href={baseUrl} variant="light" class="shrink-0 py-300" title="Back to Home">
          <Icon name="mi/outline/home" class="text-tone-neutral-04" />
        </Button>
      )
    }
  </header>
  <div class="h-50 bg-tone-neutral-03"></div>
</div>
