---
// import DisplacedSphere from './DisplacedSphere.astro';
import Icon from './Icon.astro';
import Button from './Button.astro';
// Get base URL from Astro config
const baseUrl = import.meta.env.BASE_URL;
---

<section class="flex items-start justify-center px-400 relative overflow-hidden">
  <div
    class="max-w-screen-desktop w-full mx-auto p-600 py-1200 relative z-10 text-tone-neutral text-center grid gap-400"
  >
    <div class="grid">
      <!-- <mds-icon icon="vv/logo" class="w-3600 h-3600 justify-self-center"></mds-icon> -->
      <img src={`${baseUrl}/vittorio-vittori-logo.svg`} class="w-3600 h-3600 justify-self-center" />
      <h1 class="text-title-h1 vittori-o">
        Vittori<span class="inline-block animate-pulse-more">o</span>
      </h1>
      <p class="text-info-paragraph m-auto">Design System Architect / Senior UX Designer</p>
    </div>
    <p class="text-info-detail m-auto">
      Crafting scalable human-centered experiences<br />
      through systematic design thinking.
    </p>
    <Button href="https://maggioli.com" class="justify-self-center" variant="hero">
      <Icon name="mi/baseline/alternate-email" />
      Maggioli Spa
    </Button>
  </div>
</section>
