---
// import DisplacedSphere from './DisplacedSphere.astro';
import Icon from './Icon.astro';
import Button from './Button.astro';
import personalData from '../data/personal.json';
// Get base URL from Astro config
const baseUrl = import.meta.env.BASE_URL;
---

<section class="flex items-start justify-center px-400 relative overflow-hidden z-20">
  <div
    class="max-w-screen-desktop text-shadow w-full mx-auto p-600 py-1200 relative z-10 text-tone-neutral text-center grid gap-400"
  >
    <div class="grid">
      <Icon name="vv/logo" class="text-[144px] justify-self-center vv-logo transition-cosmetic" />
      <h1 class="text-title-h1 vittori-o">
        Vittori<span class="inline-block animate-pulse-more">o</span>
      </h1>
      <p class="text-info-paragraph m-auto"><b>{personalData.role}</b></p>
    </div>
    <p class="text-info-detail m-auto">
      <b>
        Crafting scalable human-centered experiences<br />
        through systematic design thinking.</b
      >
    </p>
    <Button href="https://maggioli.com" class="justify-self-center" variant="hero">
      <Icon name="mi/baseline/alternate-email" />
      Maggioli Spa
    </Button>
  </div>
</section>
