---
import DisplacedSphereBackground from './DisplacedSphereBackground.astro';
---

<section class="min-h-[80vh] flex items-center justify-center px-400 relative overflow-hidden">
  <DisplacedSphereBackground />
  <div
    class="max-w-screen-desktop w-full mx-auto px-600 py-1200 relative z-10 text-tone-neutral text-center grid gap-400"
  >
    <div>
      <mds-text typography="h1" class="vittori-o">
        Vittori<span class="inline-block animate-pulse-more">o</span>
      </mds-text>
      <mds-text typography="paragraph">Design System Architect / Senior UX Designer</mds-text>
    </div>
    <mds-text typography="detail">
      Crafting scalable human-centered experiences<br />
      through systematic design thinking.
    </mds-text>
    <mds-button
      icon="mi/baseline/alternate-email"
      class="justify-self-center rounded-full pl-150 hover:bg-tone-neutral/10"
      variant="light"
      tone="quiet">Maggioli Spa</mds-button
    >
  </div>
</section>
