---

---

<div
  class="inline-flex justify-center items-end px-500 fixed bottom-500 left-0 right-0 pointer-events-none z-20"
>
  <div
    class="inline-flex mobile:flex-col mobile:items-start mobile:justify-between gap-600 w-full max-w-[640px]"
  >
    <slot />
  </div>
</div>
