---
interface Props {
  position?: 'bottom' | 'top';
  [key: string]: any;
}

const { position = 'bottom', ...rest } = Astro.props;

const positionClass = position === 'bottom' ? 'bottom-0' : 'top-0';
---

<div
  class={`inline-flex justify-center items-center px-500 mobile:py-100 py-500 fixed left-0 right-0 pointer-events-none transition-transform duration-500 ease-out-expo z-20 ${positionClass}`}
  {...rest}
>
  <slot />
</div>
