---

---

<div
  class="fixed inline-flex mobile:flex-col mobile:items-start mobile:h-1/2 mobile:justify-between bottom-500 left-0 right-0 justify-center items-end gap-600 pointer-events-none z-20 px-500"
>
  <slot />
</div>
