---
interface Props {
  title: string;
  class?: string;
}

const { title, class: className = '' } = Astro.props;
---

<mds-table-row>
  <mds-table-cell class="align-middle py-100">
    <mds-text typography="h6">{title}</mds-text>
  </mds-table-cell>
  <mds-table-cell class="align-middle py-100">
    <div class="flex flex-wrap gap-400 p-200">
      <slot />
    </div>
  </mds-table-cell>
</mds-table-row>
