---
interface Props {
  title: string;
  class?: string;
}

const { title, class: className = '' } = Astro.props;
---

<mds-table-row>
  <mds-table-cell class="align-baseline">
    <mds-text typography="h6" class="whitespace-nowrap pt-300">{title}</mds-text>
  </mds-table-cell>
  <mds-table-cell>
    <div class="inline-flex mobile:flex-col mobile:items-start gap-400 p-200 min-w-max">
      <slot />
    </div>
  </mds-table-cell>
</mds-table-row>
