---
/**
 * UseCaseInteractive Component
 *
 * Wrapper for interactive use case demonstrations
 * Provides a container with appropriate styling for custom interactive content
 *
 * Props:
 * @param {string} class - Additional CSS classes
 */
interface Props {
  class?: string;
  aspect?:
    | 'aspect-square'
    | 'aspect-picture'
    | 'aspect-video'
    | 'aspect-landscape'
    | 'aspect-panorama';
}

const { class: className = '', aspect = 'aspect-panorama' } = Astro.props;
---

<div
  class={`use-case-interactive bg-tone-neutral-09 p-600 grid gap-400 grid-cols-full rounded-[28px] mobile:-mx-600 ${className}`}
>
  <p class="text-info-option text-center text-tone-neutral-03 justify-self-center">
    Interact with this use case to see how it works
  </p>
  <div
    class={`flex flex-col items-center justify-center gap-400 bg-tone-neutral p-600 rounded-xl shadow-sm-sharp w-full  ${aspect}`}
  >
    <slot />
  </div>
</div>
