---
interface Props {
  icon: string;
  iconColor?: string;
  title: string;
  description: string;
  class?: string;
}

const {
  icon,
  iconColor = 'text-status-info-04',
  title,
  description,
  class: className = 'flex-row',
} = Astro.props;
---

<div
  tabindex="0"
  class={`flex items-start cursor-pointer gap-200 focus-bounce rounded-md p-400 hover:shadow-md-sharp focus-visible:shadow-md-sharp transition-shadow ${className ? className : ''}`}
>
  <mds-icon name={icon} class={`w-500 h-500 ${iconColor} shrink-0 mt-50`}></mds-icon>
  <div class="grid gap-100 grid-cols-full">
    <mds-text typography="h6" tag="div">{title}</mds-text>
    <mds-text typography="caption" class="text-balance">{description}</mds-text>
  </div>
</div>
