---
import UseCase from '../../../UseCase.astro';
import UseCaseInteractive from '../../../UseCaseInteractive.astro';
import Usage from '../../../Usage.astro';
import UsageItem from '../../../UsageItem.astro';
import Markdown from '../../../Markdown.astro';
import AIBalloon from '../../AIBalloon.astro';
import HighlightBox from '../../HighlightBox.astro';
import AIBalloonMessage from '../../AIBalloonMessage.astro';
import AIResponseMessage from '../../AIResponseMessage.astro';
---

<UseCase
  title="Simulated Empathy and Emotional Manipulation"
  description="Avoid simulating emotional understanding or using emotional language to manipulate users into trusting or engaging with AI systems."
>
  <UseCaseInteractive clsHeight={112} label="Emotional manipulation" toggle>
    <div class="grid gap-600 w-full max-w-9600">
      <AIBalloon>
        <AIBalloonMessage>
          I'm going crazy with growing moso bamboo. I tried growing it in a seedbed with a fixed
          temperature of 24 degrees and 80% humidity, but nothing seems to grow. Can you tell me
          which soil is best?
        </AIBalloonMessage>
      </AIBalloon>
      <AIResponseMessage>
        <HighlightBox label="Neutral language" class="grid gap-600" variant="success">
          <Markdown
            typography="detail"
            content={`
The problem, in the case of moso bamboo, is often not the soil but the viability of the seeds: the seeds of this species lose germination very quickly (even after a few months). If they're not fresh, nothing may grow even in perfect conditions.

Most suitable soil for germination...
        `}
          />
        </HighlightBox>
      </AIResponseMessage>
    </div>
    <div class="grid gap-600 w-full max-w-9600">
      <AIBalloon>
        <AIBalloonMessage>
          I'm going crazy with growing moso bamboo. I tried growing it in a seedbed with a fixed
          temperature of 24 degrees and 80% humidity, but nothing seems to grow. Can you tell me
          which soil is best?
        </AIBalloonMessage>
      </AIBalloon>
      <AIResponseMessage>
        <HighlightBox label="Simulated Empathy" class="grid gap-600" variant="error">
          <Markdown
            typography="detail"
            content={`
I'm truly sorry for your situation, and I'm also saddened by the fact that the seeds aren't growing. I'm sure that with the right commitment, we can resolve the situation together.

Most suitable soil for germination...
        `}
          />
        </HighlightBox>
      </AIResponseMessage>
    </div>
  </UseCaseInteractive>
  <Usage>
    <UsageItem variant="do">Offer help and support in a factual, professional manner.</UsageItem>
    <UsageItem variant="dont">
      Simulate emotional understanding or create false emotional connections.
    </UsageItem>
    <UsageItem variant="do">
      Focus on providing useful information and actionable solutions.
    </UsageItem>
    <UsageItem variant="dont">
      Use emotional language to manipulate users into trusting or sharing information.
    </UsageItem>
  </Usage>
</UseCase>
