---
import UseCase from '../../UseCase.astro';
import UseCaseInteractive from '../../UseCaseInteractive.astro';
---

<UseCase
  title="Input and Validation"
  description="The status of the data entered is always clear, allowing the user to immediately know whether what they are doing is correct or requires correction."
>
  <UseCaseInteractive>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
  </UseCaseInteractive>
</UseCase>
