---
import UseCase from '../../UseCase.astro';
import UseCaseInteractive from '../../UseCaseInteractive.astro';
---

<UseCase
  title="System and Settings"
  description="Configurations instantly reflect their actual state, so the user never has to guess whether a change has been applied or not."
>
  <UseCaseInteractive>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
  </UseCaseInteractive>
</UseCase>
