---
import UseCase from '../../../UseCase.astro';
import Usage from '../../../Usage.astro';
import UsageItem from '../../../UsageItem.astro';
import Separator from '../../../../components/Separator.astro';
import Brand from '../../../Brand.astro';
import ProductCategory from '../../../ProductCategory.astro';
import Products from '../../../Products.astro';
import UseCaseInteractive from '../../../UseCaseInteractive.astro';
---

<UseCase
  title="Progressive refinement instead of upfront completeness"
  description="The system is allowed to grow iteratively as new needs emerged."
>
  <UseCaseInteractive clsHeight={504} toggle>
    <div class="grid gap-600 grid-cols-full w-full">
      <div class="flex items-baseline justify-start gap-200">
        <mds-text typography="h5" tag="div">Magma v1.5.0</mds-text>
        <mds-text typography="caption">Yesterday</mds-text>
      </div>
      <mds-table>
        <mds-table-header>
          <mds-table-header-cell label="Component"></mds-table-header-cell>
          <mds-table-header-cell label="Type"></mds-table-header-cell>
          <mds-table-header-cell label="Changes"></mds-table-header-cell>
        </mds-table-header>
        <mds-table-body>
          <mds-table-row>
            <mds-table-cell class="w-3200"
              ><mds-text class="whitespace-nowrap" typography="caption">mds-button</mds-text
              ></mds-table-cell
            >
            <mds-table-cell class="w-2400"
              ><mds-badge class="whitespace-nowrap" variant="blue" tone="weak">style</mds-badge
              ></mds-table-cell
            >
            <mds-table-cell class="w-full"
              ><mds-text class="whitespace-nowrap" typography="caption"
                >Fix wrong typography line height</mds-text
              ></mds-table-cell
            >
          </mds-table-row>
          <mds-table-row>
            <mds-table-cell
              ><mds-text class="whitespace-nowrap" typography="caption">mds-button</mds-text
              ></mds-table-cell
            >
            <mds-table-cell
              ><mds-badge class="whitespace-nowrap" variant="info" tone="weak">feat</mds-badge
              ></mds-table-cell
            >
            <mds-table-cell
              ><mds-text class="whitespace-nowrap" typography="caption">Add new variant</mds-text
              ></mds-table-cell
            >
          </mds-table-row>
        </mds-table-body>
      </mds-table>
      <div class="flex items-baseline justify-start gap-200">
        <mds-text typography="h5" tag="div">Magma v1.4.9</mds-text>
        <mds-text typography="caption">2 days ago</mds-text>
      </div>
      <mds-table>
        <mds-table-header>
          <mds-table-header-cell label="Component"></mds-table-header-cell>
          <mds-table-header-cell label="Type"></mds-table-header-cell>
          <mds-table-header-cell label="Changes"></mds-table-header-cell>
        </mds-table-header>
        <mds-table-body>
          <mds-table-row>
            <mds-table-cell class="w-3200"
              ><mds-text class="whitespace-nowrap" typography="caption">mds-button</mds-text
              ></mds-table-cell
            >
            <mds-table-cell class="w-2800"
              ><mds-badge class="whitespace-nowrap" variant="warning" tone="weak">fix</mds-badge
              ></mds-table-cell
            >
            <mds-table-cell class="w-full"
              ><mds-text class="whitespace-nowrap" typography="caption"
                >Event onMdsButtonClick now dispatching event with button value correctly</mds-text
              ></mds-table-cell
            >
          </mds-table-row>
          <mds-table-row>
            <mds-table-cell
              ><mds-text class="whitespace-nowrap" typography="caption">mds-button</mds-text
              ></mds-table-cell
            >
            <mds-table-cell
              ><mds-badge class="whitespace-nowrap" variant="warning" tone="weak">fix</mds-badge
              ></mds-table-cell
            >
            <mds-table-cell
              ><mds-text class="whitespace-nowrap" typography="caption"
                >slot triggers event correctly</mds-text
              ></mds-table-cell
            >
          </mds-table-row>
        </mds-table-body>
      </mds-table>
    </div>
    <div class="grid gap-600 grid-cols-full w-full">
      <div class="flex items-baseline justify-start gap-200">
        <mds-text typography="h5" tag="div">Magma v6.0.0</mds-text>
        <mds-text typography="caption">Yesterday</mds-text>
      </div>
      <mds-table>
        <mds-table-header>
          <mds-table-header-cell label="Component"></mds-table-header-cell>
          <mds-table-header-cell label="Type"></mds-table-header-cell>
          <mds-table-header-cell label="Changes"></mds-table-header-cell>
        </mds-table-header>
        <mds-table-body>
          <mds-table-row>
            <mds-table-cell class="w-3200"
              ><mds-text class="whitespace-nowrap" typography="caption">mds-button</mds-text
              ></mds-table-cell
            >
            <mds-table-cell class="w-2400"
              ><mds-badge class="whitespace-nowrap" variant="error" tone="strong">change</mds-badge
              ></mds-table-cell
            >
            <mds-table-cell class="w-full"
              ><mds-text class="whitespace-nowrap" typography="caption"
                >Variant ghost is renamed to outline</mds-text
              ></mds-table-cell
            >
          </mds-table-row>
          <mds-table-row>
            <mds-table-cell
              ><mds-text class="whitespace-nowrap" typography="caption">mds-button</mds-text
              ></mds-table-cell
            >
            <mds-table-cell
              ><mds-badge class="whitespace-nowrap" variant="error" tone="strong">change</mds-badge
              ></mds-table-cell
            >
            <mds-table-cell
              ><mds-text class="whitespace-nowrap" typography="caption"
                >Removed attribute at-full-width</mds-text
              ></mds-table-cell
            >
          </mds-table-row>
        </mds-table-body>
      </mds-table>
      <div class="flex items-center justify-start gap-400">
        <mds-text typography="h5" tag="div">Magma v5.0.0</mds-text>
        <div
          class="inline-flex items-center justify-start gap-100 text-status-warning-04 fill-status-warning-04 bg-status-warning-09 rounded-md px-200"
        >
          <mds-icon name="mi/baseline/warning-amber" class="w-400 h-400"></mds-icon>
          <mds-text typography="caption">1 year ago</mds-text>
        </div>
      </div>
      <mds-table>
        <mds-table-header>
          <mds-table-header-cell label="Component"></mds-table-header-cell>
          <mds-table-header-cell label="Type"></mds-table-header-cell>
          <mds-table-header-cell label="Changes"></mds-table-header-cell>
        </mds-table-header>
        <mds-table-body>
          <mds-table-row>
            <mds-table-cell class="w-3200"
              ><mds-text class="whitespace-nowrap" typography="caption">mds-button</mds-text
              ></mds-table-cell
            >
            <mds-table-cell class="w-2400"
              ><mds-badge class="whitespace-nowrap" variant="error" tone="strong">change</mds-badge
              ></mds-table-cell
            >
            <mds-table-cell class="w-full"
              ><mds-text class="whitespace-nowrap" typography="caption"
                >Event onMdsButtonClicked is renamed to onMdsButtonClick</mds-text
              ></mds-table-cell
            >
          </mds-table-row>
          <mds-table-row>
            <mds-table-cell
              ><mds-text class="whitespace-nowrap" typography="caption">mds-button</mds-text
              ></mds-table-cell
            >
            <mds-table-cell
              ><mds-badge class="whitespace-nowrap" variant="error" tone="strong">change</mds-badge
              ></mds-table-cell
            >
            <mds-table-cell
              ><mds-text class="whitespace-nowrap" typography="caption"
                >Attribute animate is removed</mds-text
              ></mds-table-cell
            >
          </mds-table-row>
        </mds-table-body>
      </mds-table>
    </div>
  </UseCaseInteractive>
</UseCase>

<Usage>
  <UsageItem variant="do">Release a minimal, stable API and evolve it based on usage.</UsageItem>
  <UsageItem variant="dont">Attempt to predict every single future requirement.</UsageItem>
  <UsageItem variant="do">
    Treat missing features as opportunities for informed iteration.
  </UsageItem>
  <UsageItem variant="dont">Block adoption due to incomplete coverage.</UsageItem>
</Usage>

<Products>
  <ProductCategory title="Semantic versioning">
    <Brand icon="mi/outline/commit" label="Semver" url="https://semver.org/" />
  </ProductCategory>
  <ProductCategory title="Visual regression testing">
    <Brand name="chromatic" label="Chromatic" />
    <Brand name="percy" label="Percy" />
  </ProductCategory>
</Products>

<Separator />
