---
import UseCase from '../../UseCase.astro';
import UseCaseInteractive from '../../UseCaseInteractive.astro';
import personalData from '../../../data/personal.json';
---

<UseCase
  title="Cognitive Load Reduction"
  description="The system minimizes the amount of information users must remember, compare, or interpret to complete a task."
>
  <UseCaseInteractive clsHeight={84} toggle articleId="cognitive-load-reduction">
    <div class="flex items-center justify-between w-full rounded-2xl p-600 shadow-sm-sharp">
      <mds-icon
        name="vv/logo"
        class="size-900 cursor-pointer focus-bounce rounded-lg hover:rotate-[60deg] transition-cosmetic ease-out-expo duration-300"
        tabindex="0"></mds-icon>
      <nav class="flex items-center gap-400">
        <mds-button class="rounded-full" variant="dark" tone="quiet">Login</mds-button>
        <mds-button class="rounded-full" icon="mi/baseline/menu" variant="dark" tone="quiet"
        ></mds-button>
      </nav>
    </div>
    <div class="flex items-center justify-between w-full rounded-2xl p-600 shadow-lg-sharp">
      <div class="flex gap-400">
        <mds-icon name="vv/logo" class="size-900"></mds-icon>
        <div class="flex flex-col">
          <mds-text typography="h6">Vittorio Vittori</mds-text>
          <mds-text typography="option" class="text-tone-neutral-04">{personalData.role}</mds-text>
        </div>
      </div>
      <nav class="flex items-center gap-400">
        <mds-button class="rounded-full" variant="dark" tone="strong">Homepage</mds-button>
        <mds-button class="rounded-full" variant="dark" tone="strong">Login</mds-button>
        <mds-button class="rounded-full" icon="mi/baseline/menu" variant="dark" tone="quiet"
        ></mds-button>
      </nav>
    </div>
  </UseCaseInteractive>
</UseCase>
